{% extends 'base.html.twig' %}

{% block title %}Sauver des vies
{% endblock %}

{% block body %}

	<header class="sauver_vies">
		<ul>
			<li>
				<code>
					<a href="{{ path('app_campagne_vaccination') }}">Avanc&eacute pour la campagne de vaccination</a>
				</code>
			</li>
			<li>
				<code>
					<a href="{{ path('app_chiffres') }}">Quelques Chiffres</a>
				</code>
			</li>
			<li>
				<code>
					<a href="{{ path('app_sauver_vies') }}">
                        <p>Sauver des vies</p>
                    </a>
				</code>
			</li>
		</ul>
	</header>

    <section id="about" class="about">
		<div class="container">
			<h2 class="sauverVies">Je souhaite sauver des vies</h2>
			<div class="row no-gutters">
				<div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
					<form method="post">
						<div class="row">
							<label class="formulaire" for="input">Nom</label>
							<input type="text" value="" name="nom" id="input" class="form-control" required autofocus>

							<br><br>
							<label class="formulaire" for="input">Pr&eacutenom</label>
							<input type="text" name="prenom" id="input" class="form-control" required>

                            <br><br>
							<label class="formulaire" for="input">Email</label>
							<input type="email" name="email" id="input" class="form-control" required>

                            <br><br>
							<label class="formulaire" for="input">S&eacutecurit&eacute sociale</label>
							<input type="text" name="securite" id="input" class="form-control" required>

						</div>
						<input
						type="hidden" name="_csrf_token" value=" ">

						<br>
						 <div class="card-action right-align">
							<button class="btn btn-lg btn-valide" id="button" type="submit">
								Valider
							</button>
						</div>
						
						<br><br>
					</form>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
