{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {# <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }} #}

    <section id="about" class="about">
		<div class="container">
			<h2 class="inscription">Vous désirez vous inscrire ?</h2>
			<br>
			<div class="row no-gutters">
				<div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
					{{ form_start(registrationForm,{'attr': {'class': 'php-email-form'}}) }}
					<div class="form-row">
						
						<div class="col-lg-6 form-group">
							{{form_label(registrationForm.email, 'EMAIL', {'label_attr': {'class': 'formulaire'}})}}
							{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="col-lg-6 form-group">
							{{form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'formulaire'}})}}
							{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
						</div>
                        

						<div class="text-center right-align">

							<button type="submit" id="button" class="btn btn-valide">Envoyer</button>
						</div>
						<br>
					</div>
				
					{{ form_end(registrationForm) }}
					<br>
				</div>
			</div>
		</div>
	</section>

    <div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<div class="section-title">
                </br>
				<a href="{{ path('app_login') }}">
                    <p>Vous possédez déja un compte ? rendez vous ici</p>
                </a>
			</div>
		</div>
	</div>

{% endblock %}
