{% extends 'base.html.twig' %}

{% block title %}Hello ChiffresController!{% endblock %}

{% block body %}
    <header class="quelques_chiffres">
		<ul>
			<li>
				<code>
					<a href="{{ path('app_campagne_vaccination') }}">Avanc&eacute pour la campagne de vaccination</a>
				</code>
			</li>
			<li>
				<code>
					<a href="{{ path('app_chiffres') }}">
                        <p>Quelques Chiffres</p>
                    </a>
				</code>
			</li>
			<li>
				<code>
					<a href="{{ path('app_sauver_vies') }}">
                        Sauver des vies
                    </a>
				</code>
			</li>
		</ul>
	</header>

    <div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<div class="section-title">
            </br>
				<p>
                    Depuis le 1er septembre 2021 une campagne de rappel a été mise en place pour stimuler 
                    le système immunitaire des plus vulnérables. Ciblant d’abord les personnes les plus vulnérables,
                    elle a ensuite été étendue à toute la population de 18 ans et plus, puis à la population des 
                    12-17 ans.

                    </br></br>

                    Il convient d’attendre un délai de 3 mois (6 mois pour les 12-17 ans) entre la dernière dose reçue,
                    complétant le schéma vaccinal initial, et cette dose de rappel. Ce délai est réduit à 4 semaines 
                    pour les personnes ayant reçu une dose de vaccin Janssen.

                    </br></br>

                    Les rappels vaccinaux sont effectués uniquement avec des vaccins à ARNm (Pfizer-BioNTech ou 
                    Moderna). Ces deux vaccins peuvent être utilisés quel que soit le vaccin utilisé dans le 
                    cadre du premier schéma vaccinal, mais le vaccin Pfizer-BioNTech est recommandé pour les 
                    personnes de moins de 30 ans.

                    </br></br>
                </p>
			</div>
		</div>
	</div>

    </br>
{% endblock %}
