{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<header class="accueil-puce">
		<ul>
			<li>
				<code>
					<a href="{{ path('app_campagne_vaccination') }}">Avanc&eacute pour la campagne de vaccination</a>
				</code>
			</li>
			<li>
				<code>
					<a href="{{ path('app_chiffres') }}">Quelques Chiffres</a>
				</code>
			</li>
			<li>
				<code>
					<a href="{{ path('app_sauver_vies') }}">Sauver des vies</a>
				</code>
			</li>
		</ul>
	</header>

	<div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<div class="section-title">
            </br>
				<p>
                    Bienvenue sur le site spécial covid !!!
                    </br>
                    Vous désirez en savoir d’aventage ? Alors rester sur le site et naviguer à volonté.
                </p>
			</div>
		</div>
	</div>

	<section id="about" class="about">
		<article class="container">

			<div class="row no-gutters">
				<div class="col-lg-12 video-box" style="text-align:center; margin:auto;">
					<img src="assets/img/accueil-covid.png" class="img-fluid" alt="">
				</div>
			</div>
		</article>
	</section>

    <div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<div class="section-title">
            </br>
				<p>
                    Chaque jours, luttons ensemble contre le covid et ces effet néfaste.
                    <br>
                    Ce n’est qu’ensemble que nous pourrons vaincre et serront libéré.
                </p>
			</div>
		</div>
	</div>

    <div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<div class="section-title">
            </br>
				<a href="{{ path('app_code_postal') }}">
                    <strong>Pour connaître le centre de vaccination le plus proche</strong>
                </a>
			</div>
		</div>
	</div>

{% endblock %}