{% extends 'base.html.twig' %}

{% block title %}La campagne de vaccination{% endblock %}

{% block body %}
    <header class="quelques_chiffres">
		<ul>
			<li>
				<code>
					<a href="{{ path('app_campagne_vaccination') }}">
                        <p>Avanc&eacute pour la campagne de vaccination</p>
                    </a>
				</code>
			</li>
			<li>
				<code>
					<a href="{{ path('app_chiffres') }}">
                        Quelques Chiffres
                    </a>
				</code>
			</li>
			<li>
				<code>
					<a href="{{ path('app_sauver_vies') }}">
                        Sauver des vies
                    </a>
				</code>
			</li>
		</ul>
	</header>

	<section id="about" class="about">
		<article class="container">

			<div class="row no-gutters">
				<div class="col-lg-12 video-box" style="text-align:center; margin:auto;">
					<img src="assets/img/campagne_vaccination1.png" class="img-fluid" alt="">
				</div>
			</div>
		</article>
	</section>

	<section id="about" class="about">
		<article class="container">

			<div class="row no-gutters">
				<div class="col-lg-12 video-box" style="text-align:center; margin:auto;">
					<img src="assets/img/campagne_vaccination2.png" class="img-fluid" alt="">
				</div>
			</div>
		</article>
	</section>

    <div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<div class="section-title">
            </br>
				<p>
                    La vaccination contre le Covid-19 concerne toutes les personnes âgées de 5 ans et plus.

                    </br></br>

                    La deuxième dose de rappel est ouverte :

                    </br></br>

                    aux personnes immunodéprimées, aux personnes de 80 ans et plus ainsi qu’à tous les 
                    résidants d’EHPAD et USLD ayant reçu leur dose de rappel depuis plus de trois mois.
                    aux adultes âgés de 18 à 60 ans identifiés comme étant à risque de forme grave de Covid-19, 
                    aux femmes enceintes dès le premier trimestre de grossesse, et aux personnes vivant dans 
                    l’entourage ou au contact régulier de personnes vulnérables ou immunodéprimées ainsi qu’aux 
                    personnels soignants.

                    </br></br>
                </p>
			</div>
		</div>
	</div>

    </br></br>

	<div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<div class="section-title">
				<p>
                    L’obligation vaccinale contre le Covid-19 s’adresse aux personnes avec un risque élevé 
					d’exposition au virus et amenées à accompagner au quotidien les publics fragiles et vulnérables 
					qu’il s’agit de protéger contre les risques de Covid-19, et notamment contre le risque de 
					développer des formes graves de la maladie.
                </p>
			</div>
		</div>
	</div>

    </br>
{% endblock %}

