{% extends 'base.html.twig' %}

{% block title %}Code Postal{% endblock %}

{% block body %}
<br>
<div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<div class="section-title">
            </br>
				<h2>
                    Le centre de vaccination le plus proche
                </h2>
			</div>
		</div>
	</div>
</div>

	<section id="about" class="about">
		<article class="container">

			<div class="row no-gutters">
				<div class="col-lg-12 video-box" style="text-align:center; margin:auto;">
					<img src="assets/img/code-postal.png" class="img-fluid" alt="">
				</div>
			</div>
		</article>
	</section>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<div class="container">
		<br/>
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8">
				<form class="card card-sm"  action="">
					<div class="card-body row no-gutters align-items-center">
						<div class="col-auto">
							<i class="fas fa-search h4 text-body"></i>
						</div>
						<!--end of col-->
						<div class="col">
							<input class="form-control form-control-lg form-control-borderless" name="search" type="search" placeholder="Rechercher un lieu">
						</div>
						<!--end of col-->
						<div class="col-auto">
							<button class="btn btn-lg btn-recherche" type="submit">Rechercher</button>
						</div>
						<!--end of col-->
					</div>
				</form>
			</div>
			<!--end of col-->
		</div>
	</div>

    </br>

{% endblock %}
