<!-- ======= Header ======= -->
<header id="header">
    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light"><a href="{{path('app_accueil') }}"><span>CovidMort</span></a></h1>
        </div>

        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li>
                    <a class="nav-link" href="{{path('app_accueil') }}">Accueil</a>
                </li>
                <li>
                    <a class="nav-link" href="{{path('app_recherche') }}">Recherche</a>
                </li>		

                {% if (app.user.email is defined) %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_article')}}">Article</a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if (app.user.email is defined) %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_vaccin') }}">Vaccin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_logout') }}">Déconnexion</a>
                    </li>
                    
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_login') }}">Connexion</a>
                    </li>
                {% endif %} 

            </ul>
        </nav>
        <!-- .nav-menu -->
    </div>
</header>