<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <!-- Favicons -->
		<link href="{{asset('assets/images/favicon.png')}}" rel="icon">
		<link href="{{asset('assets/images/apple-touch-icon.png')}}" rel="apple-touch-icon">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

		<!-- Vendor CSS Files -->
		<link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/animate.css/animate.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/venobox/venobox.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/aos/aos.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">

		<!-- Template Main CSS File -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
        <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
		
        <title>{% block title %}CovidMort{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block nav %}{% include "template_parts/_nav.html.twig" %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% include "template_parts/_footer.html.twig" %}{% endblock %}
        {# {% block javascripts %}{% endblock %} #}

        <!-- Vendor JS Files -->
        <script src="{{asset('assets/vendor/jquery/jquery.min.js')}}"></script>
        <script src="{{asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
        <script src="{{asset('assets/vendor/jquery-sticky/jquery.sticky.js')}}"></script>
        <script src="{{asset('assets/vendor/venobox/venobox.min.js')}}"></script>
        <script src="{{asset('assets/vendor/waypoints/jquery.waypoints.min.js')}}"></script>
        <script src="{{asset('assets/vendor/counterup/counterup.min.js')}}"></script>
        <script src="{{asset('assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
        <script src="{{asset('assets/vendor/aos/aos.js')}}"></script>
        <!-- Template Main JS File -->
        <script src="{{asset('assets/js/main.js')}}"></script>
    </body>
</html>